<% if @promotions.present? %>
  <div class="row">
    <div class="span9">
      <% box do %>
        <div class="fotorama" data-width="770" data-height="350" data-caption="overlay">
          <% @promotions.each do |slide| %>
            <%= link_to image_tag(slide.image_url(:thumb), alt: "<b>#{slide.title}</b><br />#{slide.caption}<br />#{link_to I18n.t('slide.url'), slide_url_for(slide)}"), slide.image_url(:preview) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= render partial: 'modals' %>