<% box title: I18n.t('menu.sights'), id: 'sights' do %>
  <ul class="thumbnails">
    <% @sights.each do |sight| %>
    <li class="span3">
      <div class="thumbnail">
        <%= link_to image_tag(sight.photo.image.url(:tile)), url_for(sight) %>
        <div class="caption">
          <h5><%= sight.title %></h5>
          <p><%= sight.city.try(:title) %></p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
<% end %>