<%= render partial: 'orders/modal' %>
<% if Region.with_tours.any? %>
  <% box title: I18n.t('aside.root_regions') do %>
    <ul>
      <% Region.with_tours.each do |region| %>
        <li><%= link_to region.title, tours_region_path(id: region.try(:slug)) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
<% if Stuff.shit.any? %>
  <% box title: I18n.t('aside.news_and_promotions') do %>
    <ul>
      <% Stuff.shit.each do |stuff| %>
        <% url = stuff.is_a?(News) ? url_for(stuff) : slide_url_for(stuff) %>
        <li><%= link_to stuff.title, url %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="hr">
    <%= link_to I18n.t('aside.all_news'), news_index_path, class: 'more' %>
  </div>
<% end %>