<% if Region.root.any? %>
  <% box title: I18n.t('aside.root_regions') do %>
  	<ul>
  		<% Region.root.each do |region| %>
        <li><%= link_to region.title, url_for(region) %></li>
      <% end %>
  	</ul>
  	<div class="hr">
      <%= link_to I18n.t('aside.all_regions'), regions_path, class: 'more' %>
    </div>
  <% end %>
<% end %>
<% if Promotion.any? %>
  <% box title: I18n.t('aside.news_and_promotions') do %>
  	<ul>
      <% Promotion.random(5).each do |promotion| %>
      <li><%= link_to promotion.title, slide_url_for(promotion) %></li>
      <% end %>
  	</ul>
  	<div class="hr">
      <%= link_to I18n.t('aside.all_news'), news_path, class: 'more' %>
    </div>
  <% end %>
<% end %>