<% box title: 'Популярные направления' do %>
	<ul>
		<li><a href="#">Крым</a></li>
		<li><a href="#">Карпаты</a></li>
		<li><a href="#">Львов</a></li>
		<li><a href="#">Киев</a></li>
		<li><a href="#">Одесса</a></li>
	</ul>
	<div class="hr"><a href="#" class="more">Все направления</a></div>
<% end %>
<% box title: 'Новости' do %>
	<ul>
		<li><a href="#">Масленица в Киеве 2012</a></li>
		<li><a href="#">На Береговщине открыт музей вина</a></li>
		<li><a href="#">В Україні пройде аніме фестиваль імені Хаяо Міядзакі</a></li>
		<li><a href="#">Джаз подешевшає на 50% для студентів</a></li>
	</ul>
	<div class="hr"><a href="#" class="more">Все новости</a></div>
<% end %>