<div class="row" id="top-bar">
  <div class="navbar span12">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <%= menu_for(:clients) %>
          <%= menu_for(:agencies) %>
          <% if Page.published.for(:topbar).any? %>
            <% Page.published.for(:topbar).each do |page| %>
              <li><%= link_to page.title, url_for(page) %></li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav pull-right">
          <% Page.published.for(:modals).each do |page| %>
            <li><%= link_to page.title, "##{page.slug}", 'data-toggle' => 'modal', class: 'internal' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>