<div class="row">
  <div class="navbar span12">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">О компании <b class="caret"></b></a>
            <ul id="menu1" class="dropdown-menu">
              <li><a href="#">О стране</a></li>
              <li><a href="#">История</a></li>
              <li><a href="#">Культура</a></li>
              <li><a href="#">Традиции</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Агенствам <b class="caret"></b></a>
            <ul id="menu2" class="dropdown-menu">
              <li><a href="#">Соглашение</a></li>
              <li><a href="#">Каталог</a></li>
              <li><a href="#">Скидки</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Вопросы и ответы</a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <a href="#map" data-toggle="modal">Карта проезда</a>
          </li>
          <li>
            <a href="#addr" data-toggle="modal">Контактная информация</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>